input[type=search] {  
  -webkit-appearance: none;
}

* {
  outline: none;
}

.quiz-chooser {
  padding-bottom: 0;
  .btn {
    margin: 0 15px 15px 0;
  }
}

.game-status {
  font-size: 20px;
  ul {
    margin-bottom: 0;
    text-align: center;
  }
}

.result-panel {
  .panel-heading {
    padding: 0px 12px;
    font-size: 28px;
  }
  .panel-body {
    padding: 10px 13px;
    font-size: 16px;
  }
}
